.fioresslice{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:12px;
position: relative;
height:22% ;
width:22% ;

}    


  
  @media screen and (max-width: 600px) {
    .fioresslice{
      position: relative;
      height:40% ;
      width: 40%; 
   }
  }