.pommesfrites{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:12px;
position: relative;
height:25% ;
width:25% ;

}    


  
  @media screen and (max-width: 600px) {
    .pommesfrites{
      position: relative;
      height:100% ;
      width:100% 
   }
  }


  .pommesfrites{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:12px;
  position: relative;
  height:20% ;
  width:20% ;
  
  }    
  
  
    
    @media screen and (max-width: 600px) {
      .pommesfrites{
        position: relative;
        height:100% ;
        width:100% 
     }
    }