.page-header {
    background-color:#004643;
    min-height: 30vh;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 1.5vmin);
    color: white;
  }

  .menu-drawer {
    background-color:#004643;
    min-height: 30vh;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 1.5vmin);
    color: white;
  }