.footer {
  display: grid; 
  background-color:rgb(231, 231, 231);

  padding: 25px;
 grid-template-columns: repeat(2, 1fr);
    min-height: 1vh;
    flex-direction: column;
    color: black;
    font-size:10px; 
    bottom:0;
min-height: 100%;
    
  }




  .social{
    grid-column-start:0;
    display: grid; 
    background-color:rgb(231, 231, 231);
    padding: 0px;
    grid-template-columns: repeat(6,30px);
    min-height: 1vh;
    flex-direction: column;
    color: black;
    font-size:10px}
    .github
    {
grid-column-start:1;
grid-column-end:2

    }