
   
   div {

    background-color: rgb(231, 231, 231);

   
   }
   p{
line-height: 1em;

   }
   a{
    font-size:16px;

        color: black;
    text-decoration: none;
        }
   

        div.img{
            border: 1px solid #ddd; /* Gray border */
            border-radius: 12   px;  /* Rounded border */
            padding: 1.8    px; /* Some padding */
         /*   width: 150px; /* Set a small width */
        
        }


      .gobblersandwich{
         
  
        }
         @media screen and (max-width: 1600px) {
           .gobblersandwich{
             position: relative;
             height:21%;
             width:21% ;
             border-radius: 5%;
       
          }
        }
        
        @media screen and (max-width: 400px) {
          .gobblersandwich{
            position: relative;
            height:90%;
            width:90% ;
     
         }
        }















        .lilsusieburger{
         
  
        }
         @media screen and (max-width: 1600px) {
           .lilsusieburger{
             position: relative;
             height:21%;
             width:21% ;
             border-radius: 5%;
       
          }
        }
        
        @media screen and (max-width: 400px) {
          .lilsusieburger{
            position: relative;
            height:90%;
            width:90% ;
     
         }
        }

        .eggburger{
         
  
       }
        @media screen and (max-width: 1600px) {
          .eggburger{
            position: relative;
            height:21%;
            width:21% ;
            border-radius: 5%;
      
         }
       }
       
       @media screen and (max-width: 400px) {
         .eggburger{
           position: relative;
           height:90%;
           width:90% ;
    
        }
       }



        .unclesamspizza{
         
          filter: grayscale(70%);
       }
        @media screen and (max-width: 1600px) {
          .unclesamspizza{
            position: relative;
            height:21%;
            width:21% ;
            border-radius: 5%;
            filter: grayscale(70%);
         }
       }
       
       @media screen and (max-width: 400px) {
         .unclesamspizza{
           position: relative;
           height:90%;
           width:90% ;
           filter: grayscale(70%);
        }
       }





        .flanders{
         
          filter: grayscale(70%);
       }
        @media screen and (max-width: 1600px) {
          .flanders{
            position: relative;
            height:21%;
            width:21% ;
            border-radius: 5%;
            filter: grayscale(70%);
         }
       }
       
       @media screen and (max-width: 400px) {
         .flanders{
           position: relative;
           height:90%;
           width:90% ;
           filter: grayscale(70%);
        }
       }
     



        .migos{
         
          filter: grayscale(70%);
       }
        @media screen and (max-width: 1600px) {
          .migos{
            position: relative;
            height:21%;
            width:21% ;
            border-radius: 5%;
            filter: grayscale(70%);
         }
       }
       
       @media screen and (max-width: 400px) {
         .migos{
           position: relative;
           height:90%;
           width:90% ;
           filter: grayscale(70%);
        }
       }
     
     
     
     
     
     
        @media screen and (max-width: 1600px) {
         .peep{
           position: relative;
           height:30%;
           width:30% ;
           border-radius: 5%
        }
      }
      
      @media screen and (max-width: 400px) {
        .peep{
          position: relative;
          height:90%;
          width:90% 
       }
      }


        @media screen and (max-width: 1600px) {
         .california{
           position: relative;
           height:30%;
           width:30% ;
           border-radius: 5%
        }
      }
      
      @media screen and (max-width: 400px) {
        .california{
          position: relative;
          height:90%;
          width:90% 
       }
      }

        @media screen and (max-width: 1600px) {
         .jdog{
           position: relative;
           height:30%;
           width:30% ;
           border-radius: 5%
        }
      }
      
      @media screen and (max-width: 400px) {
        .jdog{
          position: relative;
          height:90%;
          width:90% ;
          border-radius: 5%
       }
      }

  @media screen and (max-width: 1600px) {
    .thejoker{
      position: relative;
      height:30%;
      width:30% ;
      border-radius: 5%
   }
}

@media screen and (max-width: 400px) {
   .thejoker{
     position: relative;
     height:100%;
     width:100% ; 
     border-radius: 5%
  }
}



@media screen and (max-width: 1600px) {
   .couch{
     position: relative;
     height:30%;
     width:30% ;
     border-radius: 5%
  }
}

@media screen and (max-width: 400px) {
  .couch{
    position: relative;
    height:90%;
    width:90% ;
    border-radius: 5%
 }
}
@media screen and (max-width: 1600px) {
   .chinatown{
     position: relative;
     height:30%;
     width:30% ;
     border-radius: 5%
  }
}

@media screen and (max-width: 400px) {
  .chinatown{
    position: relative;
    height:90%;
    width:90% ;
    border-radius: 5%
 }
}






@media screen and (max-width: 1600px) {
   .swedishChef{
     position: relative;
     height:20%;
     width:20% ;
     border-radius: 5%
  }
}

@media screen and (max-width: 400px) {
  .swedishChef{
    position: relative;
    height:80%;
    width:80% 
 }
}

@media screen and (max-width: 1600px) {
   .oculus{
     position: relative;
     height:30%;
     width:30% ;
     border-radius: 5%
  }
}

@media screen and (max-width: 400px) {
  .oculus{
    position: relative;
    height:100%;
    width:100% ;
    border-radius: 5%
 }
}






  @media screen and (max-width: 600px) {
    .pageBody{
      position: relative;
      height:60% ;
      width:60% 
   }
}